# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.db
*.pid
*.seed
*.bak

# Environment variables
.env

# Static & Media
/staticfiles/
/media/

# Virtual environment
venv/
.env/
env/
ENV/
.venv/

# VSCode and JetBrains IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Migrations (optional)
**/migrations/*.py
**/migrations/*.pyc
!**/migrations**
